
swapi-mvvm-2.xcodeproj/project.xcworkspace/xcuserdata/wheatley.xcuserdatad/UserInterfaceState.xcuserstate
*.xcuserstate
*.xcuserstate
swapi-mvvm-2.xcodeproj/project.xcworkspace/xcuserdata/wheatley.xcuserdatad/UserInterfaceState.xcuserstate
swapi-mvvm-2.xcodeproj/project.xcworkspace/xcuserdata/wheatley.xcuserdatad/UserInterfaceState.xcuserstate
swapi-mvvm-2.xcodeproj/project.xcworkspace/xcuserdata/wheatley.xcuserdatad/UserInterfaceState.xcuserstate
swapi-mvvm-2.xcodeproj/xcuserdata/wheatley.xcuserdatad/xcdebugger/Breakpoints_v2.xcbkptlist
swapi-mvvm-2.xcodeproj/project.xcworkspace/xcuserdata/wheatley.xcuserdatad/UserInterfaceState.xcuserstate
swapi-mvvm-2.xcodeproj/project.xcworkspace/xcuserdata/wheatley.xcuserdatad/UserInterfaceState.xcuserstate
swapi-mvvm-2.xcodeproj/project.xcworkspace/xcuserdata/wheatley.xcuserdatad/UserInterfaceState.xcuserstate
